body{
  background: linear-gradient(white,dimgrey);
  width: 100vw;
  height: 130vh;
  margin: 0;
}
.logo{
  background-color: #000040;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10vw;
  margin-right: 10vw;
}
.logo h2 {
  color: dimgrey;
  display: flex;
  font-size: 7vh;
  width: auto;
  padding-left: 5px;
}
.logo > img{
  display: flex;
  height: 20vh;
  width: auto;
}
.contact{
  display: flex;
  padding-top: 5px;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
}
.contact h1{
  display: flex;
  font-size: 20px;
  padding: 5px;
}
.contact p{
  display: flex;
  font-size: 15px;
  padding: 5px;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: whitesmoke;
  color: #f2f2f2;
}
.reviews h2{
  display: flex;
  justify-content: center;
  color: #000040;
  font-size: 4vh;
}
.reviews h3{
  color: #000040;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
.reviews p{
  background-color: #d9d9d9;
  border: 10px solid;
  border-color: #000040;
  display: flex;
  justify-content: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 30vw;
  margin-right: 30vw;
}
.services h3{
  display: flex;
  justify-content: center;
  color: #000040;
  font-size: 4vh;
}
.services h4{
  display: flex;
  justify-content: space-around;
  color: #000040;
}
.services p{
  display: flex;
  justify-content: space-around;
}
.residential{
  background-color: #d9d9d9;
  border: 10px solid;
  border-color: #000040;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 30vw;
  margin-right: 30vw;
}
.remodel{
  background-color: #d9d9d9;
  border: 10px solid;
  border-color: #000040;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 30vw;
  margin-right: 30vw;
}
.commercial{
  background-color: #d9d9d9;
  border: 10px solid;
  border-color: #000040;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 30vw;
  margin-right: 30vw;
}
div > section{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13vw;
  margin-right: 13vw;
  margin-top: 3vh;
}
.brian{
  float: left;
  flex-direction: column;
  background-color: #d9d9d9;
  border: 10px solid;
  border-color: #000040;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
}
.nancy{
  float: right;
  flex-direction: column;
  background-color: #d9d9d9;
  border: 10px solid;
  border-color: #000040;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;

}
.josh{
  float: center;
  flex-direction: column;
  background-color: #d9d9d9;
  border: 10px solid;
  border-color: #000040;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
}
@media only screen and (min-device-width: 737px){
}
